{% extends "frontend/base.html" %}

{% load static%}
{% comment %} {% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block inner %}
    <h1>{% translate "Change Password" %}</h1>
    <p>{% translate 'Your password is now changed.' %}</p>
{% endblock %} {% endcomment %}




{% block content %}

    <!-- ====== Banner Start ====== -->
    <section class="ud-page-banner" style="background-color: #012622;">
      <div class="container" >
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-banner-content">
              <h1  style="color:#E6AF2E;">
                Password Reset Done
              </h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Banner End ====== -->

    <!-- ====== Login Start ====== -->
    <section class="ud-login">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-login-wrapper" style="max-width: 50em;">
              <div class="ud-login-logo">
                <img src="{% static 'frontend/assets/images/logo/logo-transp.png' %}" alt="logo" 
                style="width: 10em; transform: translateY(-70px);"
                />
              </div>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                <h1>Password Change Successfully</h1>
                <p>Your password is now changed.</p>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Login End ====== -->
    
{% endblock content %}
