{% extends 'frontend/base.html' %}
{% load static %}
{% block css %}
<style>
  .shimmer {
    display:inline-block;
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 1s infinite;
  }
  
  @keyframes shimmer {
    100% {-webkit-mask-position:left}
  }
</style>
{% endblock css %}
{% block content %}

    <!-- ====== Hero Start ====== -->
    <section class="ud-hero" id="home">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
              <h1 class="ud-hero-title">
                Finlytic सँग आफ्नो करहरू गर्नुहोस्
              </h1>
              <p class="ud-hero-desc">
                <!-- Multidisciplinary Web Template Built with Your Favourite
                Technology - HTML Bootstrap, Tailwind and React NextJS. -->
              </p>
              <ul class="ud-hero-buttons">
                <li>
                  <a href="{% url 'account_signup' %}" rel="nofollow noopener" class="ud-main-btn ud-white-btn">
                    Free Trial
                  </a>
                </li>
                <li>
                  <a href="#contact" rel="nofollow noopener" class="ud-main-btn ud-link-btn shimmer">
                    Try Simrik <i class="lni lni-arrow-right "></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="ud-hero-brands-wrapper wow fadeInUp" data-wow-delay=".3s">
              <img src="{% static 'frontend/assets/images/hero/ntc.png' %}" alt="brand" style=" height: 5em; width: 4em; "/>
              <img src="{% static 'frontend/assets/images/hero/ncell.svg' %}" alt="brand" style="padding-left: 30px;height: 2em;"/>
            </div>
            <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
              <img src="{% static 'frontend/assets/images/hero/hero-image.svg' %}" alt="hero-image" />
              <img src="{% static 'frontend/assets/images/hero/dotted-shape.svg' %}" alt="shape" class="shape shape-1" />
              <img src="{% static 'frontend/assets/images/hero/dotted-shape.svg' %}" alt="shape" class="shape shape-2" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Hero End ====== -->

    <!-- ====== Features Start ====== -->
    <section id="features" class="ud-features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-section-title">
              <span>विशेषताहरू</span>
              <h2>
                मुख्य विशेषताहरू</h2>
              <p>
                Finlytic सँग तपाइँको करहरू गर्ने केही फाइदाहरू:
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".1s">
              <div class="ud-feature-icon">
                <i class="lni lni-gift"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">कुशल संचार</h3>
                <p class="ud-feature-desc">
                  समयमै र लक्षित संदेशहरूले तपाईंलाई आफ्ना निकट जनसंख्यासँग संचार क्षमतामा सुधार गर्नुहोस्।
                </p>
                
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".15s">
              <div class="ud-feature-icon">
                <i class="lni lni-move"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">व्यापक अवरोध</h3>
                <p class="ud-feature-desc">
                  हाम्रो व्यापक नेटवर्क कवरेजको सहायतामा, यो नेपालका विभिन्न सेवा प्रदायकहरूका साथै रहिरहेका व्यक्तिहरूसँग संघटना गर्नुहोस्।
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".2s">
              <div class="ud-feature-icon">
                <i class="lni lni-layout"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">मुल्यशीलता</h3>
                <p class="ud-feature-desc">
                  हाम्रो सस्तो थोपा SMS सेवामा विपणन खर्च बचाउनुहोस्, जसले तपाईंको संचार आवश्यकताहरूका लागि एक मूल्यशील समाधान प्रदान गर्दछ।
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
              <div class="ud-feature-icon">
                <i class="lni lni-layers"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">विश्लेषण र अनुभवहरू</h3>
                <p class="ud-feature-desc">
                  हाम्रो उन्नत विश्लेषण उपकरणहरूबाट अभियान प्रदर्शन र प्राप्तकर्ताको संवेदनशीलतामा मूल्यक्षेत्री अनुभव प्राप्त गर्नुहोस्, जसले सूचित निर्णय लिन र अनुकूलन रणनीतिहरूको अवस्थान गर्दछ।
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Features End ====== -->
    <!-- ====== About Start ====== -->
    <section id="about" class="ud-about">
      <div class="container">
        <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
          <div class="ud-about-content-wrapper">
            <div class="ud-about-content">
              <span class="tag">हाम्रो बारेमा</span>
              <h2>संयोजनाद्वारा एक राष्ट्र निर्माण</h2>
              <p>
                DICE SMS नेपालको शीर्ष बलक एसएमएस सेवा प्रदायकको रूपमा उत्कृष्टता देखिन्छ, 
                जसले व्यावसायिक र व्यक्तिहरूलाई मोबाइल मार्केटिंग समस्याको समाधान प्रदान गर्दछ।
                हाम्रो उपयोगकर्ता-मित्र वेब ड्यासबोर्ड र शक्तिशाली उपकरणहरू तपाईंको मोबाइल मार्केटिंग 
                अभियानहरूको सृजना, संवाद र विश्लेषण गर्नलाई सरल बनाउँछ। DICE SMS बाट 
                आफ्नो मार्केटिंग लक्ष्य निश्चित गर्नुहोस्, संचार सेवा प्रदाता NTC वा Ncell होस ।
              </p>
              <p>
                मुख्य लक्ष्य उपभोक्ताहरू वा व्यापारहरूलाई तीव्रतापूर्वक आफ्ना सम्पर्कहरूसँग पुर्ति गर्न र सफलता सुनिश्चित गर्नु हो।
              </p>
              <!-- <a href="javascript:void(0)" class="ud-main-btn">Learn More</a> -->
            </div>
          </div>
          <div class="ud-about-image">
            <img src="{% static 'frontend/assets/images/about/about-image.svg' %}" alt="about-image" />
          </div>
        </div>
      </div>
    </section>
    <!-- ====== About End ====== -->

    <!-- ====== FAQ Start ====== -->
    <section id="faq" class="ud-faq">
      <div class="shape">
        <img src="{% static 'frontend/assets/images/faq/shape.svg' %}" alt="shape" />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-section-title text-center mx-auto">
              <span>FAQ</span>
              <h2>Any Questions? Answered</h2>
              <p>
                Explore our frequently asked questions to find quick answers to common queries. From product details to troubleshooting tips, our FAQ section has you covered.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>What are the benefits of using SMS for business communication?</span>
                </button>
                <div id="collapseOne" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    SMS offers high open and response rates, making it an effective channel for reaching customers. It's also cost-effective, reliable, and has wide reach across different mobile devices.
                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>What support options do you offer?</span>
                </button>
                <div id="collapseTwo" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    We offer various support options including email support, live chat, phone support, and comprehensive documentation to help you get the most out of our SMS services.
                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>Can I send bulk SMS messages?</span>
                </button>
                <div id="collapseThree" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    Yes, our platform allows you to send bulk SMS messages to multiple recipients simultaneously. This is ideal for marketing campaigns, notifications, reminders, and other types of mass communication.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>Is it possible to personalize SMS messages?</span>
                </button>
                <div id="collapseFour" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    Yes, our platform supports dynamic fields, allowing you to personalize each message with recipient-specific information such as their name or account details.
                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>What type of reporting and analytics do you provide?</span>
                </button>
                <div id="collapseFive" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    Our platform offers comprehensive reporting and analytics tools that allow you to track delivery rates, open rates, click-through rates, and other key metrics. This data helps you measure the effectiveness of your SMS campaigns and make informed decisions.
                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>Can I integrate SMS messaging with my existing systems or applications?</span>
                </button>
                <div id="collapseSix" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    Yes, our platform provides APIs and integrations that allow you to seamlessly integrate SMS messaging with your existing systems, CRM software, marketing automation tools, and more.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== FAQ End ====== -->
    <!-- ====== Contact Start ====== -->
    <section id="contact" class="ud-contact">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-8 col-lg-7">
            <div class="ud-contact-content-wrapper">
              <div class="ud-contact-title">
                <span>CONTACT US</span>
                <h2>
                  Let’s talk about it <br />
                  Love to hear from you!
                </h2>
              </div>
              <div class="ud-contact-info-wrapper">
                <div class="ud-single-info">
                  <div class="ud-info-icon">
                    <i class="lni lni-map-marker"></i>
                  </div>
                  <div class="ud-info-meta">
                    <h5>Our Location</h5>
                    <p>Old Baneshwor, Bhimsengola, Kathmandu</p>
                  </div>
                </div>
                <div class="ud-single-info">
                  <div class="ud-info-icon">
                    <i class="lni lni-envelope"></i>
                  </div>
                  <div class="ud-info-meta">
                    <h5>How Can We Help?</h5>
                    <p>contact@dicesms.asia</p>
                    <p>support@dicesms.asia</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="ud-contact-form-wrapper wow fadeInUp" data-wow-delay=".2s">
              <h3 class="ud-contact-form-title">Send us a Message</h3>
              <div id="message-container"></div>
              {% comment %} <form id="contact_us_form" class="ud-contact-form" method="POST" action="{% url 'frontend:contact_us' %}">
                {% csrf_token %}
                <div class="ud-form-group">
                  <label for="fullName">Full Name*</label>
                  <input type="text" name="{{ contact_form.name.name }}" placeholder="Adam Gelius" required />
                </div>
                <div class="ud-form-group">
                  <label for="email">Email*</label>
                  <input type="email" name="{{ contact_form.email.name }}" placeholder="example@yourmail.com" required />
                </div>
                <div class="ud-form-group">
                  <label for="phone">Phone*</label>
                  <input type="number" name="{{ contact_form.phone.name }}" placeholder="+977 98xxxxxxxx" required />
                </div>
                <div class="ud-form-group">
                  <label for="message">Message*</label>
                  <textarea name="{{ contact_form.message.name }}" rows="4" placeholder="Type your message here" required></textarea>
                </div>
                <div class="ud-form-group mb-0">
                  <button type="submit" class="ud-main-btn">
                    Send Message
                  </button>
                </div>
              </form> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Contact End ====== -->


    <script>
      const contactForm = document.getElementById('contact_us_form');
      const messageContainer = document.getElementById('message-container');

      contactForm.addEventListener('submit', function(e){
        e.preventDefault();

        const formData = new FormData(contactForm);
        fetch(contactForm.action, {
          method: "POST",
          body: formData,
          headers: {
            'X-CSRFToken': "{{ csrf_token }}"
          },
          credentials: "same-origin"
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            messageContainer.innerHTML = `
                <div class="ud-section-title mx-auto text-center">
                    <span>Form submitted successfully!</span>
                </div>
            `;
            contactForm.reset();

            setTimeout(() => {
              messageContainer.style.display = 'none';
            }, 5000);
          } else {
            let errorMessage = '';

            const errors = JSON.parse(data.errors);
            for (const [key, value] of Object.entries(errors)) {
                errorMessage += `<p>${key}: ${value[0].message}</p>`;
            }
            messageContainer.innerHTML = `<p class="error">An error occurred:</p>${errorMessage}`;

            setTimeout(() => {
              messageContainer.style.display = 'none';
            }, 5000);
          }
        })
        .catch(error => {
          messageContainer.innerHTML = '<p class="error">An error occurred: ' + error + '</p>';

          setTimeout(() => {
            messageContainer.style.display = 'none';
          }, 5000);
        });
      });
    </script>

    
{% endblock content %}
    
