{% extends 'frontend/base.html' %}
{% load static %}
{% block css %}
{% load crispy_forms_tags %}
<style>
  .shimmer {
    display:inline-block;
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 1s infinite;
  }
  
  @keyframes shimmer {
    100% {-webkit-mask-position:left}
  }
</style>
{% endblock css %}
{% block content %}

    <!-- ====== Hero Start ====== -->
    <section class="ud-hero" id="home" style="background-color: #012622;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
              <h1 class="ud-hero-title">
                Finlytic सँग आफ्नो करहरू तिर्नुहोस्
              </h1>
              <p class="ud-hero-desc">
                <!-- Multidisciplinary Web Template Built with Your Favourite
                Technology - HTML Bootstrap, Tailwind and React NextJS. -->
              </p>
              <ul class="ud-hero-buttons">
                <li>
                  <a href="{% url 'frontend:chatbot' %}" rel="nofollow noopener" class="ud-main-btn ud-link-btn shimmer" style="background-color: #E6AF2E; border-color: #E6AF2E; color: #fff;">
                    <p style="color:black;">Try Our Compliance Model <i class="lni lni-arrow-right"></i></p> 
                  </a>
                </li>
              </ul>              
            </div>
            <div class="ud-hero-brands-wrapper wow fadeInUp" data-wow-delay=".3s">
              <img src="{% static 'frontend/assets/images/logo/logo-transp.png' %}" alt="brand" style=" height: 5em; width: 4em; "/>
            </div>
            <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
              {% comment %} <img src="{% static 'frontend/assets/images/hero/hero-image.svg' %}" alt="hero-image" />
              <img src="{% static 'frontend/assets/images/hero/dotted-shape.svg' %}" alt="shape" class="shape shape-1" />
              <img src="{% static 'frontend/assets/images/hero/dotted-shape.svg' %}" alt="shape" class="shape shape-2" />
              <img src="{% static 'frontend/assets/images/hero/hero-image.svg' %}" alt="hero-image" />
              <img src="{% static 'frontend/assets/images/hero/dotted-shape.svg' %}" alt="shape" class="shape shape-1" />
              <img src="{% static 'frontend/assets/images/hero/dotted-shape.svg' %}" alt="shape" class="shape shape-2" /> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Hero End ====== -->
<!-- ====== About Start ====== -->
<section id="about" class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8">
        <h3 class="fs-5 mb-2 text-secondary text-uppercase">About</h3>
        <h2 class="display-5 mb-4">At our core, we prioritize pushing boundaries, embracing the unknown, and fostering a culture of continuous learning.</h2>
        <button type="button" class="btn btn-lg btn-primary mb-3 mb-md-4 mb-xl-5">Connect Now</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0">
      <div class="col-12 col-lg-6">
        <div class="card bg-light p-3 m-0">
          <div class="row gy-3 gy-md-0 align-items-md-center">
            <div class="col-md-5">
              <img src="./assets/img/about-img-2.jpg" class="img-fluid rounded-start" alt="Why Choose Us?">
            </div>
            <div class="col-md-7">
              <div class="card-body p-0">
                <h2 class="card-title h4 mb-3">Why Choose Us?</h2>
                <p class="card-text lead">With years of experience and deep industry knowledge, we have a proven track record of success and are pushing ourselves to stay ahead of the curve.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card bg-light p-3 m-0">
          <div class="row gy-3 gy-md-0 align-items-md-center">
            <div class="col-md-5">
              <img src="./assets/img/about-img-1.jpg" class="img-fluid rounded-start" alt="Visionary Team">
            </div>
            <div class="col-md-7">
              <div class="card-body p-0">
                <h2 class="card-title h4 mb-3">Visionary Team</h2>
                <p class="card-text lead">With a team of visionary engineers, developers, and creative minds, we embark on a journey to transform complex challenges into ingenious technological solutions.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== About End ====== -->
    <!-- ====== Features Start ====== -->
    <section id="features" class="ud-features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-section-title">
              <!-- <span>विशेषताहरू</span> -->
              <h2 style="color:#012622">
                मुख्य विशेषताहरू
              </h2>
              <p>
                Finlytic सँग तपाइँको करहरू गर्ने केही फाइदाहरू:
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".1s">
              <div class="ud-feature-icon"
              style="background: #618985">
                <i class="lni lni-gift"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title" 
                style="color: #E6AF2E; font-size: bolder;">
                Compliance Checking
              </h3>
                <p class="ud-feature-desc" 
                style="color:#012622;
                 font-size: bold;">
                  हाम्रो मोडेलले पूर्वनिर्धारित अनुपालन नियम र नियमहरू विरुद्ध क्रस-रेफरेन्सिङ डेटाद्वारा गैर-अनुपालन ढाँचाहरू पत्ता लगाउन ठूला डाटासेटहरूको विश्लेषण गर्न सक्छ।
                </p>
                
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".15s">
              <div class="ud-feature-icon"
               style="background: #618985">
                <i class="lni lni-move"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title" style="color: #E6AF2E; font-size: bolder;">
                  Expense categorization                </h3>
                <p class="ud-feature-desc" style="color:#012622;">
                  Finlytic ले प्रभावकारी रूपमा तपाइँको खर्चलाई नेपाल सरकारले तोकेको खर्च कोटि अन्तर्गत वर्गीकरण गर्दछ।                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".2s">
              <div class="ud-feature-icon"
              style="background: #618985">
                <i class="lni lni-layout"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title"
                style="color: #E6AF2E; 
                font-size: bolder;">
                Timely Reminders
                </h3>
                <p class="ud-feature-desc"
                style="color:#012622;
                 font-size: bold;">                
                   हामी प्रभावकारी रूपमा तपाइँको कर समयसीमा सम्झना गराउँछौं।
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
              <div class="ud-feature-icon"
              style="background: #618985">
                <i class="lni lni-layers"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title"

                style="color: #E6AF2E; 
                font-size: bolder;">
Finance Management
                </h3>
                <p class="ud-feature-desc"
                style="color:#012622;
                 font-size: bold;">       
हामी सुनिश्चित गर्छौं कि तपाईंको वित्त राम्रोसँग राखिएको छ।
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Features End ====== -->


    <!-- ====== FAQ Start ====== -->
    <section id="faq" class="ud-faq">
      <div class="shape">
        <img src="{% static 'frontend/assets/images/faq/shape.svg' %}" alt="shape" />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-section-title text-center mx-auto">
              <span>FAQ</span>
              <h2>Any Questions? Answered</h2>
              <p>
                Explore our frequently asked questions to find quick answers to common queries. From product details to troubleshooting tips, our FAQ section has you covered.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>Is my personal and financial information safe when using this system?</span>
                </button>
                <div id="collapseOne" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    Yes, your privacy is our top priority. We use industry-standard encryption and secure servers to ensure that your personal and financial information is protected at all times. We never share your data with third parties without your explicit consent.
                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>Is this tax compliance system free to use?</span>
                </button>
                <div id="collapseTwo" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    Our basic tax compliance services are free, allowing you to get an overview of your tax obligations and guidance on how to file them. We also offer premium features and personalized support for a small fee if you require more detailed assistance.
                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>How accurate is the tax advice provided by this system?</span>
                </button>
                <div id="collapseThree" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    Our tax compliance system is designed to provide accurate and up-to-date advice based on the latest tax regulations. However, we recommend consulting a tax professional for complex or unique situations to ensure full compliance.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span> Can this system handle multiple tax categories or different types of income?</span>
                </button>
                <div id="collapseFour" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    Yes, our system is equipped to categorize your inputs into various tax categories, whether you have multiple sources of income, business expenses, or other financial considerations. It provides tailored advice based on your specific situation.
                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>How does this system ensure my compliance?</span>
                </button>
                <div id="collapseFive" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    Our tax compliance system uses advanced algorithms and the latest tax laws to analyze your data and guide you through the filing process. It helps identify potential deductions, credits, and filing requirements to ensure you remain compliant with the tax authorities.
                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>Can I access support if I have questions?</span>
                </button>
                <div id="collapseSix" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    Absolutely! We offer customer support via email, chat, and phone for any questions or issues you may have. Our team is here to help you understand the system and ensure your tax compliance experience is smooth and hassle-free.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== FAQ End ====== -->
    <!-- ====== Contact Start ====== -->
    <section id="contact" class="ud-contact">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-8 col-lg-7">
            <div class="ud-contact-content-wrapper">
              <div class="ud-contact-title">
                <span>CONTACT US</span>
                <h2>
                  Let’s talk about it <br />
                  Love to hear from you!
                </h2>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="ud-contact-form-wrapper wow fadeInUp" data-wow-delay=".2s">
              <h3 class="ud-contact-form-title">Send us a Message</h3>
              <form method="post" action="{% url 'frontend:index' %}" id="contactForm"> 
                {% csrf_token %}
                {{ form|crispy }}
                <div style="padding-top: 8px;"></div>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
            
              <div id="message-container"></div>
              {% comment %} <form id="contact_us_form" class="ud-contact-form" method="POST" action="{% url 'frontend:contact_us' %}">
                {% csrf_token %}
                <div class="ud-form-group">
                  <label for="fullName">Full Name*</label>
                  <input type="text" name="{{ contact_form.name.name }}" placeholder="Adam Gelius" required />
                </div>
                <div class="ud-form-group">
                  <label for="email">Email*</label>
                  <input type="email" name="{{ contact_form.email.name }}" placeholder="example@yourmail.com" required />
                </div>
                <div class="ud-form-group">
                  <label for="phone">Phone*</label>
                  <input type="number" name="{{ contact_form.phone.name }}" placeholder="+977 98xxxxxxxx" required />
                </div>
                <div class="ud-form-group">
                  <label for="message">Message*</label>
                  <textarea name="{{ contact_form.message.name }}" rows="4" placeholder="Type your message here" required></textarea>
                </div>
                <div class="ud-form-group mb-0">
                  <button type="submit" class="ud-main-btn">
                    Send Message
                  </button>
                </div>
              </form> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Contact End ====== -->


    <script>
      const contactForm = document.getElementById('contact_us_form');
      const messageContainer = document.getElementById('message-container');

      contactForm.addEventListener('submit', function(e){
        e.preventDefault();

        const formData = new FormData(contactForm);
        fetch(contactForm.action, {
          method: "POST",
          body: formData,
          headers: {
            'X-CSRFToken': "{{ csrf_token }}"
          },
          credentials: "same-origin"
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            messageContainer.innerHTML = `
                <div class="ud-section-title mx-auto text-center">
                    <span>Form submitted successfully!</span>
                </div>
            `;
            contactForm.reset();

            setTimeout(() => {
              messageContainer.style.display = 'none';
            }, 5000);
          } else {
            let errorMessage = '';

            const errors = JSON.parse(data.errors);
            for (const [key, value] of Object.entries(errors)) {
                errorMessage += `<p>${key}: ${value[0].message}</p>`;
            }
            messageContainer.innerHTML = `<p class="error">An error occurred:</p>${errorMessage}`;

            setTimeout(() => {
              messageContainer.style.display = 'none';
            }, 5000);
          }
        })
        .catch(error => {
          messageContainer.innerHTML = '<p class="error">An error occurred: ' + error + '</p>';

          setTimeout(() => {
            messageContainer.style.display = 'none';
          }, 5000);
        });
      });
    </script>

    
{% endblock content %}
    
