{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4" style="margin-top:20px;">List of Data You Have Shared</h4>

                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Sn No.</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Query</th>
                                        <th scope="col">Excel File</th>
                                        <th scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for item in items%}
                                        <tr>
                                            <td><strong>{{item.id}}</strong></td>
                                            <td>{{ item.user.name }}</td>
                                            <td>{{ item.query }}</td>
                                            <td>{{ item.excel_file.url}}</td>
                                            <td>{{ item.sent_date }}</td>
                                        </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end card-body -->

                </div>
            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>

{% endblock %}